<a href="https://colab.research.google.com/github/anoldKupara/Machine-Learning-Course/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Anold Kudakwashe Kupara
#Level 4:1
#Advanced AI 
#CTHSC

In [2]:
# Data manipulation imports
import re
import json
import time
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
# Loading the Arrests CSV
date_of_arrest_arrests = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Arrest_Data_from_2010_to_Present.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
date_of_arrest_arrests.head()

   Report ID Arrest Date  ...  Cross Street              Location
0    4248313  02/24/2015  ...        WILTON   (34.0653, -118.314)
1  191811472  05/03/2019  ...      FIGUEROA  (33.9543, -118.2827)
2    4254777  02/26/2015  ...           NaN  (34.2216, -118.4488)
3    5614161  04/29/2019  ...           NaN  (34.0508, -118.4592)
4    5615197  04/30/2019  ...     LEXINGTON  (34.0907, -118.3384)

[5 rows x 17 columns]

In [6]:
date_of_arrest_arrests.isnull().sum()

Report ID                        0
Arrest Date                      4
Time                           199
Area ID                          4
Area Name                        4
Reporting District               4
Age                              4
Sex Code                         4
Descent Code                     4
Charge Group Code            87570
Charge Group Description     88006
Arrest Type Code                 5
Charge                           5
Charge Description           87534
Address                          5
Cross Street                520187
Location                         5
dtype: int64

In [7]:
date_of_arrest_arrests.notnull().sum()

Report ID                   1227521
Arrest Date                 1227517
Time                        1227322
Area ID                     1227517
Area Name                   1227517
Reporting District          1227517
Age                         1227517
Sex Code                    1227517
Descent Code                1227517
Charge Group Code           1139951
Charge Group Description    1139515
Arrest Type Code            1227516
Charge                      1227516
Charge Description          1139987
Address                     1227516
Cross Street                 707334
Location                    1227516
dtype: int64

In [8]:
date_of_arrest_arrests

                              Report ID  ...              Location
0                               4248313  ...   (34.0653, -118.314)
1                             191811472  ...  (33.9543, -118.2827)
2                               4254777  ...  (34.2216, -118.4488)
3                               5614161  ...  (34.0508, -118.4592)
4                               5615197  ...  (34.0907, -118.3384)
...                                 ...  ...                   ...
1227516                         5238234  ...                   NaN
1227517                  "error" : true  ...                   NaN
1227518    "message" : "Internal error"  ...                   NaN
1227519                  "status" : 500  ...                   NaN
1227520                               }  ...                   NaN

[1227521 rows x 17 columns]

In [9]:
# Converting the 'Arrest Date' column from String to Datetime, to facilitate manipulation
date_of_arrest_arrests["Arrest Date"] = pd.to_datetime(date_of_arrest_arrests["Arrest Date"])

In [13]:
date_of_arrest_arrests["new_year"]=pd.DatetimeIndex(date_of_arrest_arrests['Arrest Date']).year

In [15]:
date_of_arrest_arrests['new_year'].value_counts()

2012.0    163313
2010.0    162399
2011.0    157637
2013.0    152671
2014.0    139379
2015.0    126154
2016.0    118125
2017.0    107647
2019.0     57811
2018.0     42381
Name: new_year, dtype: int64

In [16]:
len(date_of_arrest_arrests[(date_of_arrest_arrests['new_year']==2018)])

42381

 42381 arrests were made in 2018

In [17]:
date_of_arrest_arrests=date_of_arrest_arrests[(date_of_arrest_arrests['new_year']==2018)]

In [18]:
date_of_arrest_arrests['Area Name'].value_counts()

Central        5621
Hollywood      5378
Rampart        4243
Pacific        3545
Van Nuys       2332
N Hollywood    2052
Southwest      1768
Mission        1701
Newton         1638
Harbor         1628
Northeast      1579
77th Street    1457
West LA        1415
Olympic        1350
Devonshire     1336
Topanga        1208
Hollenbeck      995
West Valley     955
Foothill        801
Southeast       764
Wilshire        615
Name: Area Name, dtype: int64

In [19]:
date_of_arrest_arrests['Area Name'].value_counts().max

<bound method Series.max of Central        5621
Hollywood      5378
Rampart        4243
Pacific        3545
Van Nuys       2332
N Hollywood    2052
Southwest      1768
Mission        1701
Newton         1638
Harbor         1628
Northeast      1579
77th Street    1457
West LA        1415
Olympic        1350
Devonshire     1336
Topanga        1208
Hollenbeck      995
West Valley     955
Foothill        801
Southeast       764
Wilshire        615
Name: Area Name, dtype: int64>

In [21]:
#Question 3

var = date_of_arrest_arrests['Charge Group Description'].isin(['Pre-Delinquency','Non-Criminal Detention'])

In [22]:
isnullgroup=date_of_arrest_arrests['Charge Group Description'].isnull()

In [23]:
new_date_of_arrest=date_of_arrest_arrests[~var]

In [24]:
new_date_of_arrest=new_date_of_arrest[~isnullgroup]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [25]:
new_date_of_arrest[['Charge Group Description','new_year','Age']].groupby('Charge Group Description').mean('Age')

                                new_year        Age
Charge Group Description
Against Family/Child              2018.0  36.950355
Aggravated Assault                2018.0  33.907359
Burglary                          2018.0  30.366755
Disorderly Conduct                2018.0  41.924290
Disturbing the Peace              2018.0  39.727273
Driving Under Influence           2018.0  34.428291
Drunkeness                        2018.0  44.219972
Federal Offenses                  2018.0  34.600000
Forgery/Counterfeit               2018.0  35.066667
Fraud/Embezzlement                2018.0  35.689076
Gambling                          2018.0  40.557047
Homicide                          2018.0  30.896552
Larceny                           2018.0  32.725796
Liquor Laws                       2018.0  42.540955
Miscellaneous Other Violations    2018.0  36.252076
Miscellaneous Other Violatio{     2018.0  17.000000
Moving Traffic Violations         2018.0  33.085622
Narcotic Drug Laws                2018.0  36.097954
Other Assaults                    2018.0  33.451139
Prostitution/Allied               2018.0  31.620470
Rape                              2018.0  36.203704
Receive Stolen Property           2018.0  33.687500
Robbery                           2018.0  27.538739
Sex (except rape/prst)            2018.0  36.555838
Vehicle Theft                     2018.0  30.095624
Weapon (carry/poss)               2018.0  29.477178

In [27]:
quartile = date_of_arrest_arrests['Charge Group Description'].isin(['Vehicle Theft','Robbery','Burglary','Receive Stolen Property'])

In [28]:
new_date_of_arrest=date_of_arrest_arrests[quartile]

In [31]:
new_date_of_arrest.Age.quantile(0.95)

52.0