<a href="https://colab.research.google.com/github/anoldKupara/Machine-Learning-Course/blob/main/Melbourne_housing_Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# importing necessary library

import numpy as np
import pandas as pd

In [6]:
#Reading the dataset

melbourne_data= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/melb_data.csv")

#Checking the shape of the dataset

melbourne_data.shape

(13580, 21)

In [7]:
# Checking the head of the dataset

melbourne_data.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [8]:
#Checking the null values

melbourne_data.isnull().sum().sum()

13256

In [9]:
# Checking percentage of missing values in each column

percentage_of_missing_values = round((melbourne_data.isnull().sum()/melbourne_data.shape[0])*100,2)

In [10]:
percentage_of_missing_values

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price             0.00
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2          0.00
Bathroom          0.00
Car               0.46
Landsize          0.00
BuildingArea     47.50
YearBuilt        39.58
CouncilArea      10.08
Lattitude         0.00
Longtitude        0.00
Regionname        0.00
Propertycount     0.00
dtype: float64

In [11]:
# dropping the columns whose missing values percentages is between 36% and 57%

melbourne_data = melbourne_data.drop(["BuildingArea","CouncilArea","YearBuilt"],axis=1)

In [12]:
#checking the columns after dropping few columns

melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [13]:
# Checking percentage of missing values in each column again

percentage_of_missing_values = round((melbourne_data.isnull().sum()/melbourne_data.shape[0])*100,2)

In [14]:
percentage_of_missing_values

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.00
Car              0.46
Landsize         0.00
Lattitude        0.00
Longtitude       0.00
Regionname       0.00
Propertycount    0.00
dtype: float64

In [15]:
# dropping the rows of price column whose have missing values 

melbourne_data = melbourne_data[~np.isnan(melbourne_data["Price"])]

In [16]:
# dropping the rows of Landsize column whose have missing values 

melbourne_data = melbourne_data[~np.isnan(melbourne_data["Landsize"])]

In [17]:
# Checking percentage of missing values in each column again

percentage_of_missing_values = round((melbourne_data.isnull().sum()/melbourne_data.shape[0])*100,2)

In [18]:
percentage_of_missing_values

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.00
Car              0.46
Landsize         0.00
Lattitude        0.00
Longtitude       0.00
Regionname       0.00
Propertycount    0.00
dtype: float64

In [19]:
# describing the values for lats and longs

melbourne_data[["Lattitude","Longtitude"]].describe()

          Lattitude    Longtitude
count  13580.000000  13580.000000
mean     -37.809203    144.995216
std        0.079260      0.103916
min      -38.182550    144.431810
25%      -37.856822    144.929600
50%      -37.802355    145.000100
75%      -37.756400    145.058305
max      -37.408530    145.526350

In [20]:
# as we can see there is very minor difference between min,max,25,50 and 75% of lats and longs
# so we can impute mean values for lats and longs 

melbourne_data["Lattitude"] = melbourne_data["Lattitude"].fillna(melbourne_data["Lattitude"].mean())
melbourne_data["Longtitude"] = melbourne_data["Longtitude"].fillna(melbourne_data["Longtitude"].mean())

In [21]:
# lets impute the missing values in categorical column with mode functions

melbourne_data["Bathroom"].fillna(melbourne_data["Bathroom"].mode()[0],inplace=True)
melbourne_data["Car"].fillna(melbourne_data["Car"].mode()[0],inplace=True)

In [22]:
# checking sum of missing values still present in the dataset
melbourne_data.isnull().sum().sum()

0